* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.offer,
.appointment,
.notification,
.help,
.contact,
.log-in {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.appointment, .notification, .help, .contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
  color: #242424;
  font-size: 28px;
  height: auto;
}

.form--container {
  /* border: 1px solid #242424; */
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
  max-width: 750px;
}

.appointment > .form--container > .title, .notification > .form--container > .title {
  text-align: start;
}

.help > .form--container > .title, .contact > .form--container > .title{
  text-align: center;
}

.help > .form--container > .text, .contact > .form--container > .text{
  width: 100%;
  font-size: 24px;
  text-align: left;
  padding: 5px;
}

.form--container > .container--item {
  margin-top: 10px;
}

.form--container > .submit--button {
  margin-top: 10px;
  background-color: #242424;
  color: #ffffff;
  font-size: 20px;
}

.contact > .form--container > table {
  padding: 10px;
  font-size: 20px;
  max-width: 750px;
  text-align: left;
  table-layout: fixed;
  white-space: nowrap;
}

.contact > .form--container > table td {
  width: 50%;
}

.contact > .form--container > table th {
  width: 50%;
  padding-left: 10%;
}

.appointment > .form--container > .comment--textarea, .contact > .form--container > .comment--textarea {
  margin-top: 20px;
  padding: 10px;
  font-size: 17px;
}

.appointmentManager, .notificationManager {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);
  width: 75%;
  overflow-x: auto;
  white-space: nowrap;
}

.modal {
  font-size: 12px;
}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.content > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.content > .container > .message {
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding: 5px;
}

.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.offer {
  background-image: url("./images/img-2.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.log-in {
  background-image: url("./images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
