* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.offer,
.appointment,
.log-in {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.appointment {
  background-image: url("images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.appointmentManager#root--div {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);
  width: 75%;
  overflow-x: auto;
  white-space: nowrap;
}

.appointmentManager#paper {
  max-width: none;
}

.appointmentManager#container {
  max-width: none;
}

.appointmentManager#pageSelect {
  justify-self: end;
}

.offer {
  background-image: url("./images/img-2.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.log-in {
  background-image: url("./images/img-8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
